name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        mc_ver: ['1.21.3', '1.21.4']


    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK 23
      uses: actions/setup-java@v5
      with:
        java-version: '23'
        distribution: 'oracle'
    - name: Run build tools
      run: | 
        wget https://hub.spigotmc.org/jenkins/job/BuildTools/lastSuccessfulBuild/artifact/target/BuildTools.jar
        java -jar BuildTools.jar --rev ${{ matrix.mc_ver }}
    - uses: actions/upload-artifact@v7
      with:
        path: "*.jar"
        name: "spigot-${{ matrix.mc_ver}}.jar"
